.page{
    display: flex;
    justify-content: center;
}
.filters{
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1% 3% 1% 3%;
}
.filter-inp{
    width: 30%;
}
.sp{
    color: "red";
}

.grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.car{
    border: 1px solid black;
    border-radius: 10px;
    height: min-content;
    padding: 1% 3% 1% 3%;
    display: flex;
    flex-direction: column;
}